server:
  port: 9090

spring:
  application:
    name: stat-server

  datasource:
    url: jdbc:h2:mem:stat-db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  sql:
    init:
      mode: embedded
